* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/alt.xsl -text
/apertium-nob.nob.dix -text
/apertium-nob.nob.rlx -text
/apertium-nob.nob.tsx -text
/apertium-nob.pc.in -text
/autogen.sh -text
/configure.ac -text
/modes.xml -text
/nob.prob -text svneol=unset#unset
/rem-compounds.xsl -text
