/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/apertium-nob.pc
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/missing
/modes
/nob.autogen.att.gz
/nob.autogen.bin
/nob.automorf.att.gz
/nob.automorf.bin
/nob.rlx.bin
/nob.seg.rlx.bin
/nob.syn.rlx.bin
.DS_Store
